doctype html 
html 
    head 
        meta(charset="UTF-8")
        title E-Series Cabling Guide
    body 
        h1 E-Series Cabling Guide 
        h2 12 Gbps Platforms 
        h3 E2800
            figure
                img(src="img/hardware_overview/cabling1.jpg", alt="E2800 Cabling Guide Image")
        h3 EF280
            figure
                img(src="img/hardware_overview/cabling2.jpg", alt="EF280 Cabling Guide Image")
        h3 E5700
            figure
                img(src="img/hardware_overview/cabling3.jpg", alt="E5700 Cabling Guide Image")
        h3 EF570 
            figure
                img(src="img/hardware_overview/cabling4.jpg", alt="EF280 Cabling Guide Image")
        h3 EF300 
            figure 
                img(src="img/hardware_overview/cabling5.jpg", alt="EF300 Cabling Guide Image")

