doctype 
html 
    head 
        meta(charset="UTF-8")
        title How To Properly Select Enclosure For Disk Replacement 
    body 
        h1 How To Properly Select Enclosure For Disk Replacement 
        p Open Storage Array Profile in Autosupports and select Drives section 
        ol 
            li What is the Current Data Rate listed?. 
            p If 6, go to step 2. 
            p If 12, go to step 5.
            li Is there a Drawer column?
            p If yes, DE6600. 
            p If no, go to step 3.
            li Are there more than 12 drives listed in the same tray?
            p Yes -> DE5600. 
            p No -> Step 4
            li If you search the Product ID, is the DE1600 listed? 
            p Yes -> DE1600. 
            p No -> Go back to step 1 and try again.
            li If you search the Product ID, is the DE212C listed? 
            p Yes -> DE212C. 
            p No -> Go back to step 1 and try again.
