doctype 
html 
    head 
        meta(charset="UTF-8")
        title Hardware Multimedia 
    body 
        section.emedia 
            h2 Multimedia Content 
            h3 E5460 Video 
            video(width="320", height="240", controls)
                source(src="img/e5460.mp4", type="video/mp4")
                | Your browser does not support the video tag.
            h3 Drive installation 
            video(width="320", height="240", controls)
                source(src="img/drive_installation.mp4", type="video/mp4")
                | Your browser does not support the video tag.
            h3 HIC Installation 
            video(width="320", height="240", controls)
                source(src="img/HIC_installation.mp4", type="video/mp4")
                | Your browser does not support the video tag.
