doctype 
html 
    head
        meta(charset="UTF-8") 
        title Installation & Setup Instructions
    body 
        h1 Installation & Setup Instructions
        ul 
            li 
                a(href="https://library.netapp.com/ecm/ecm_download_file/ECMLP2851449") EF-Series EF300 and EF600 
            li 
                a(href="https://library.netapp.com/ecm/ecm_download_file/ECMLP2842063") E-Series E5724, EF570, EF280, E2812, E2824,	DE212C, and DE224C Shelves
            li 
                a(href="https://library.netapp.com/ecm/ecm_download_file/ECMLP2842061") E-Series E2860, E5760 and DE460C Shelves