include componentes/variables.pug
doctype html
html 
    include componentes/configuraciones.pug
    body
        main.wrapper 
            include componentes/navegacion.pug
            block contenido_principal
            



