doctype 
html 
    head
        meta(charset="UTF-8")
        title E-Series Topologies 
    body 
    h1 E-Series Topologies 
    h2 Point to Point 
    p The controller and host bus adapter (HBA) host port are directly connected as Nports (non-loop).

    h2 Arbitrated Loop
    p The controller port is connected to a switch port using a Fibre Channel arbitrated loop. The HBA host port might be on the local loop or connected to the switch. Devices on the loop and storage arrays attached to the switch can communicate with each other.

    h2 Arbitrated Loop Private
    p The controller port and HBA host port are connected by a Fibre Channel arbitrated loop.

    h2 Fabric Attach 
    p The controller port is connected as an N-port to the fabric (switch) port. The HBA host port is connected elsewhere in the fabric. The switch facilitates communication between the controller port, and the HBA host port.
    